# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/

# :(
node_modules/

# honestly not sure if we should be .gitignoring the generated client or not.
# prisma/generated/

# MacOS files
*.DS_Store
